@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/toastify.scss';

/* Custom WordPress component overrides */
.texty {
  .components-base-control {
    @apply mb-4;
  }

  .components-base-control__label {
    @apply block font-medium mb-2;
  }

  .components-text-control__input,
  .components-textarea-control__input,
  .react-tel-input .form-control {
    @apply border border-gray-300 rounded px-3 py-3 text-gray-700 block text-base;

    &:focus {
      @apply border-primary-dark ring-1 ring-primary-dark;
    }
  }

  .monospace .components-textarea-control__input {
    @apply font-mono text-sm;
  }

  .react-tel-input {
    .form-control {
      line-height: normal;
      height: auto;
      padding-left: 54px;
      width: 100%;
    }

    .selected-flag {
      width: 45px;

      .arrow {
        left: 58px;
      }
    }
  }

  .components-select-control {
    .components-input-control__container {
      @apply rounded;

      select {
        @apply text-sm;
      }
    }

    .components-input-control__backdrop {
      @apply border-gray-300;
    }
  }

  .components-base-control__help {
    @apply mt-1 text-base leading-8;
  }

  .components-card {
    @apply my-8 shadow-sm;

    .components-card__header {
      @apply text-lg px-8 py-5 font-medium;

      .sub-heading {
        @apply text-sm font-normal;
      }

      &.inactive {
        @apply text-gray-500;
      }
    }

    .components-card__body {
      @apply p-8;
    }

    @media screen and (max-width: 425px) {
      .components-card__body {
        @apply py-3 px-4;
      }

      .has-panel.components-card__body {
        @apply p-0;
      }
    }
  }

  .components-panel {
    @apply border-0;

    .components-panel__body {
      @apply border-t border-b border-gray-200;

      &:first-child {
        @apply border-t-0;
      }

      &:last-child {
        @apply border-b-0;
      }

      &.is-opened {
        @apply border border-gray-200 shadow-sm;
      }

      .components-panel__body-title {
        .components-button {
          @apply flex;
        }

        span.label {
          @apply ml-auto mr-12 text-xs py-1 px-2.5 rounded-xl inline-block leading-6 bg-gray-300;

          &.active {
            @apply bg-green-500 text-white;
          }
        }
      }

      &:nth-child(odd) .components-panel__body-title {
        @apply bg-gray-100;

        &:hover {
          @apply bg-gray-200;
        }
      }

      &.is-opened {
        @apply mb-5;

        .components-panel__body-title {
          @apply bg-white border-b border-gray-200 mb-5;
        }
      }
    }
  }

  .components-button {
    @apply rounded;

    &.is-primary {
      @apply bg-primary px-5;

      &:hover {
        @apply bg-primary-dark;
      }
    }

    &.large {
      @apply text-base px-6 h-12;
    }
  }

  .components-notice {
    @apply mx-0;

    .dashicon {
      @apply mr-2.5;
    }

    .dashicons-yes-alt {
      color: #4ab866;
    }

    .dashicons-dismiss {
      color: #cc1818;
    }
  }

  .components-form-toggle {
    &.is-checked {
      .components-form-toggle__track {
        @apply bg-primary;
      }
    }
  }

  .components-toggle-control {
    .components-toggle-control__label {
      @apply text-base;
    }
  }
}
